body {
  font-family: "Roboto", "Arial", serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  min-width: 1200px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}


div, nav, header, a {
  box-shadow: 0 0 0 1px green;
} /* обводка */

a:visited {
  color:inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  box-sizing: border-box;
}

.main-header {
  min-height: 545px;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.header-top {
  min-height: 65px;
  min-width: 1100px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation {
  min-width: 560px;
}

.main-navigation ul {
  margin: 0;
  padding: 30px 60px 0;
  display: flex;
  justify-content: space-between;
}

.main-navigation li {
  display: inline-block;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  display: block;
  padding-bottom: 13px;
  min-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
}

.main-navigation-active {
  border-bottom: 2px solid #fb565a;
}

.main-navigation a:hover,
.header-cart a:hover {
    color: #fb565a;
}

.main-navigation a:active,
.header-cart a:active {
    opacity: 0.3;
    color: #000000;
}

.header-cart {
  min-width: 160px;
  min-height: 65px;
  box-sizing: border-box;
  margin-right: 0;
  padding-top: 30px;
  text-align: right;
  position: relative;
}

.header-cart a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 40px;
}

.header-cart::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 46px;
  height: 15px;
  width: 15px;
  background: url("../img/icon-basket.png") no-repeat;
  opacity: 0.3;
}

.catalog-header {
   min-height: 355px;
 }

.catalog-header-title {
  min-height: 148px;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  padding: 92px 0 0;
  margin: 0;
}

.slider-wrapper {
  min-height: 430px;
  position: relative;
  width: 1160px;
}

.slider-wrapper input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  width: 200px;
  height: 18px;
  z-index: 100;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: white;
  box-shadow: inset 0 0 0 5px #ffffff;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  box-shadow: inset 0 0 0 5px #ffffff, inset 0 0 0 7px #bebebe;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide:nth-child(1) {
  display: block;
  background: url("../img/slide1.png") no-repeat;
  background-position: 431px bottom;
}

.slide:nth-child(2) {
  display: block;
  background: url("../img/slide2.png") no-repeat;
  background-position: 431px bottom;
}

.slide:nth-child(3) {
  display: block;
  background: url("../img/slide3.png") no-repeat;
  background-position: 431px bottom;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
display: block;
}

.slide-text {
  padding: 76px 0 80px;
  box-sizing: border-box;
}

.slide-text p {
  margin: 26px 0 41px;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  min-width: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 15px 0;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.filter-btn {
  margin-top: 48px;
  width: 260px;
  background-color: #eeeeee;
}

.filter-btn:hover,
.paginator-numbers-btn:hover,
.paginator-next-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:active,
.paginator-numbers-btn:active,
.paginator-next-btn:active {
  box-shadow: inset 0 3px 0 0;
  color: #cccccc;
  /* opacity: 0.3;  прозрачность распространяется и на фон. как их разделить? писать еще одно правило ниже именно для фона? */
}

.paginator-numbers-btn {
  min-width: 50px;
  background-color: #eeeeee;
}

.paginator-active-btn {
  background: none;
  border: 3px solid #dbdbdb;
  min-width: 50px;
  padding: 13px 0;
}

.paginator-next-btn {
  min-width: 260px;
  background-color: #eeeeee;
}

a.contacts-btn {   /* чтобы перебить a:visited color: inherit; если я правильно понимаю */
  background-color: #fb565a;
  color: #ffffff;
  min-width: 219px;
}

a.contacts-btn:hover {
  background-color: #e74246;
}

a.contacts-btn:active {
  color: #df5f62;
  box-shadow: inset 0 3px 0 0 #c13135;
}

a.price-btn {
  width: 200px;
  margin: 29px 0 43px;
  background-color: #fb565a;
  color: #ffffff;
}

a.price-btn:hover {
  background-color: #e74246;
}

a.price-btn:active {
  color: #df5f62;
  box-shadow: inset 0 3px 0 0 #c13135;
}

a.header-btn {
  background-color: #fb565a;
  color: #ffffff;
  width: 240px;
}

a.header-btn:hover {
  background-color: #e74246;
}

a.header-btn:active {
  color: #df5f62;
  box-shadow: inset 0 3px 0 0 #c13135;
}

a.order-btn {
  width: 160px;
  color: #ffffff;
}

a.order-btn-red {
  background-color: #fb565a;
}

a.order-btn-red:hover {
  background-color: #e74246;
}

a.order-btn-red:active {
  color: #df5f62;
  box-shadow: inset 0 3px 0 0 #c13135;
}

a.order-btn-green {
  background-color: #00ca74;
}

a.order-btn-green:hover {
  background-color: #00bc6c;
}

a.order-btn-green:active {
  color: #45b982;
  box-shadow: inset 0 3px 0 0 #009958;
}


a.order-btn-yellow {
  background-color: #efc84a;
}

a.order-btn-yellow:hover {
  background-color: #eab534;
}

a.order-btn-yellow:active {
  color: #ebbc68;
  box-shadow: inset 0 3px 0 0 #deb96a;
}

.send-btn {
  width: 260px;
  background-color: #fb565a;
  color: #ffffff;
}

.send-btn:hover {
  background-color: #e74246;
}

.send-btn:active {
  color: #df5f62;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.features {
  margin-top: 80px;
  min-width: 1100px;
  display: flex;
  margin-right: 60px;
  justify-content: space-between;
}

.features-item {
  min-height: 430px;
  width: 300px;
}

.features-title {
  font-size: 24px;
  text-transform: uppercase;
  padding: 170px 0 0 0;
  margin: 0;
}

.features-content {
  margin-bottom: 34px;
}

.features-item-site {
  background: url("../img/index-feat-illustration-1.png") no-repeat;
}

.features-item-apps {
  background: url("../img/index-feat-illustration-2.png") no-repeat;
}

.features-item-pres {
  background: url("../img/index-feat-illustration-3.png") no-repeat;
}

.about-us {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.about-left {
   width: 660px;
   min-height: 485px;
   float: left;
   margin-right: 120px;
 }

.about-right {
   width: 360px;
   min-height: 485px;
   float: right;
 }

.about-right-numbers li {
  display:inline-block;
}

.partners {
   min-height: 183px;
   display: flex;
   justify-content: space-between;
 }

.partners-logo {
   width: 260px;
   text-align: center;
   padding-top: 41px;
 }

.map-wrapper {
  height: 416px;
  margin-top: 80px;
  border: 1px solid white;
}

.map-wrapper-catalog {   /* в макете каталога отступ другой */
  height: 416px;
  margin-top: 59px;
  border: 1px solid white;
}

/* .map {
  height: 416px;
} */

.contacts {
  width: 320px;
  min-height: 308px;
  margin-top: 54px;
  padding: 32px 50px 0;
  box-sizing: border-box;
}

.contacts-title h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 45px 0 0;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
}

.address {
  margin-top: 25px;
}

.phone-number {
  margin-bottom: 37px;
}

.main-footer {
  margin-top: 70px;
  height: 158px;
  display: flex;
  justify-content: space-between;
}

.social {
  width: 263px;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

a.social-btn {
  display: inline-block;
  height: 79px;
  width: 79px;
  background-color: #e1e1e1;
  border-radius: 100%;
  line-height: 8px;
  font-size: 12px;
}

a.social-btn:hover {
  background-color: #e74246;
}

a.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c8474a;
}

.vk {
  background: url("../img/vk-icon.png") no-repeat 50% 50%;
}

.vk:active {
  background: url("../img/vk-icon-dark.png") no-repeat 50% 50%;
}

.facebook {
  background: url("../img/fb-icon.png") no-repeat 50% 50%;
}

.facebook:active {
  background: url("../img/fb-icon-dark.png") no-repeat 50% 50%;
}

.instagram {
  background: url("../img/insta-icon.png") no-repeat 50% 50%;
}

.instagram:active {
  background: url("../img/insta-icon-dark.png") no-repeat 50% 50%;
}

.discount {
  width: 560px;
  height: 79px;
  margin-right: 200px;
}

.footer-text {
  font-size: 36px;
  line-height: 36px;
}

.discount p {
  margin: 10px 0 0;
}

.write-us-popup {
  display: none;
  box-shadow: 0 10px 40px #000000;
  background-color: #ffffff;
  width: 960px;
  height: 590px;
  padding: 75px 100px 0;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}

.close-cross {
  opacity: 0.3;
  width: 21px;
  height: 21px;
  background: url("../img/close-cross.png");
  position: absolute;
  top: 78px;
  right: 90px;
}

.close-cross:hover {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}

.write-forms {
  width: 760px;
  min-height: 265px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.write-us-name {
  width: 360px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
}

.write-us-mail {
  width: 360px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
}

.write-us-text {
  width: 760px;
  min-height: 118px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 47px;
}

.write-us-title {
  font-size: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
}

.write-forms label {
  font-size: 16px;
  font-weight: 700;
  margin-top: 38px;
}

.write-us-input {
  border: 2px solid #e4e8e9;
  background-color: #ffffff;
  padding: 13px;
  min-width: 360px;
  box-sizing: border-box;
}


.catalog-wrapper {
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}

.catalog-title,
.catalog-sorting-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.catalog-title {
  margin: 0 0 6px;
}

.catalog-sorting-title {
  margin-right: 235px;
}

.catalog-sorting li {
  opacity: 0.2;
}

.catalog-sorting li:hover,
.arrow:hover {
  opacity: 0.4;
}

.catalog-sorting li:active,
.arrow:active {
  opacity: 1;
}

.filter {
  width: 260px;
  min-height: 775px;
}

.catalog-items {
  width: 760px;
}

.filter-price {
  height: 208px;
}

.filter-grid {
  margin-top: 56px;
  min-height: 145px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.radio-filter {
  min-height: 25px;
}

.filter-feat {
  min-height: 222px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.checkbox-filter {
  height: 25px;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.catalog-sorting {
  padding: 0 30px 0;
  margin: 0;
  min-width: 271px;
  display: flex;
  justify-content: space-between;
}

.catalog-sorting a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.sorting-arrows {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  height: 9px;
  width: 9px;
  margin-left: 20px;
  opacity: 0.2;
}

.arrow-down {
  background: url("../img/sort-down.png");
}

.arrow-up {
  background: url("../img/sort-up.png");
}

.templates {
  margin-top: 51px;
  margin-bottom: -39px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.template {
  min-width: 360px;
  min-height: 616px;
  margin-bottom: 36px;
  z-index: 5;
}

.template-browser {
  background-color: #e9e9e9;
  height: 40px;
  padding-left: 16px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}

.template-browser i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
  background-color: #fcfcfc;
}

.template-img {
  margin: 0;
  height: 576px;
  position: relative;
}

.hover {
  display: none;
}

.template-title {
  font-size: 18px;
  padding: 0;
  margin: 30px 0 0 0;
  line-height: 30px;
  font-weight: 700;
}

.template:hover .hover {
  display: block;
  position: absolute;
  min-height: 231px;
  z-index: 100;
  bottom: 0;
  background-color: #eeeeee;
  text-align: center;
  min-width: 360px;
}

.hover p {
  padding: 0;
  margin: 13px 0 0 0;
  font-size: 16px;
  line-height: 18px;
}

.template:hover .template-browser {
  background-color: #4d4d4d;
}

.paginator {
  margin-top: 60px;
  width: 443px;
}

.paginator li {
  display: inline-block;
}

.paginator ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
