body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  min-width: 1200px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

a:visited {
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  min-height: 545px;
  padding-top: 50px;
  background-color: #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-top {
  min-height: 65px;
  min-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation ul {
  margin: 0;
  padding: 0 42px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation li {
  display: inline-block;
  padding-top: 16px;
  list-style: none;
  position: relative;
}

.main-navigation li:not(:first-child) {
  margin-left: 45px;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.main-navigation-active::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f7898b;
  height: 2px;
  width: 100%;
  bottom: -8px;
}

.main-navigation a:hover,
.header-cart a:hover {
    color: #fb565a;
}

.main-navigation a:active,
.header-cart a:active {
    color: #cdcdcd;
}

.main-navigation-active a:hover,
.main-navigation-active a:active {
  color: #000000;
}

.header-cart {
  position: relative;
  padding-top: 16px;
  padding-left: 40px;
}

.header-cart a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.header-cart a::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  height: 15px;
  width: 15px;
  background: url("../img/icons.png") no-repeat;
  background-position: -49px -5px;
  opacity: 0.3;
}

.catalog-header {
   min-height: 355px;
 }

.catalog-header-title {
  min-height: 148px;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  padding: 92px 0 0;
  margin: 0;
}

.slider-wrapper {
  min-height: 430px;
  position: relative;
  width: 1160px;
}

.slider-wrapper input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  width: 200px;
  height: 18px;
  z-index: 100;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: white;
  -webkit-box-shadow: inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 5px #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  -webkit-box-shadow: inset 0 0 0 5px #ffffff, inset 0 0 0 7px #bebebe;
          box-shadow: inset 0 0 0 5px #ffffff, inset 0 0 0 7px #bebebe;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.slide-1 {
  background-image: url("../img/slide1.png");
  background-position: 431px 100%;
}

.slide-2 {
  background-image: url("../img/slide2.png");
  background-position: 496px 100%;
}

.slide-3 {
  background-image: url("../img/slide3.png");
  background-position: 400px 100%;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slide-1 {
  display: block;
}

#btn-2:checked ~ .slide-2 {
  display: block;
}

#btn-3:checked ~ .slide-3 {
display: block;
}

.slide-text {
  padding: 76px 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide-text p {
  margin: 26px 0 41px;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  min-width: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-btn {
  margin-top: 44px;
  padding: 15px 89px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: #eeeeee;
}

.filter-btn:hover,
.paginator-numbers-btn:hover,
.paginator-next-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:active,
.paginator-numbers-btn:active,
.paginator-next-btn:active {
  -webkit-box-shadow: inset 0 3px 0 0;
          box-shadow: inset 0 3px 0 0;
  color: #cccccc;
}

.paginator-numbers-btn {
  padding: 15px 21px;
  background-color: #eeeeee;
}

.paginator-active-btn {
  background: none;
  border: 3px solid #dbdbdb;
  min-width: 50px;
  padding: 12px 0;
  cursor: default;
}

.paginator-next-btn {
  padding: 15px 78px;
  background-color: #eeeeee;
}

a.contacts-btn {
  background-color: #fb565a;
  color: #ffffff;
  white-space: nowrap;
  padding: 15px 45px;
}

a.contacts-btn:hover {
  background-color: #e74246;
}

a.contacts-btn:active {
  color: #df5f62;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

a.price-btn {
  padding: 15px 62px;
  margin: 29px 0 43px;
  background-color: #fb565a;
  color: #ffffff;
}

a.price-btn:hover {
  background-color: #e74246;
}

a.price-btn:active {
  color: #df5f62;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

a.header-btn {
  background-color: #fb565a;
  color: #ffffff;
  padding: 15px 54px;
}

a.header-btn:hover {
  background-color: #e74246;
}

a.header-btn:active {
  color: #df5f62;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

a.order-btn {
  padding: 15px 40px;
  width: 160px;
  color: #ffffff;
}

a.order-btn-red {
  background-color: #fb565a;
}

a.order-btn-red:hover {
  background-color: #e74246;
}

a.order-btn-red:active {
  color: #df5f62;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

a.order-btn-green {
  background-color: #00ca74;
}

a.order-btn-green:hover {
  background-color: #00bc6c;
}

a.order-btn-green:active {
  color: #56be8b;
  -webkit-box-shadow: inset 0 3px 0 0 #009958;
          box-shadow: inset 0 3px 0 0 #009958;
}

a.order-btn-yellow {
  background-color: #efc84a;
}

a.order-btn-yellow:hover {
  background-color: #eab534;
}

a.order-btn-yellow:active {
  color: #ebbc68;
  -webkit-box-shadow: inset 0 3px 0 0 #deb96a;
          box-shadow: inset 0 3px 0 0 #deb96a;
}

.send-btn {
  padding: 15px 82px;
  background-color: #fb565a;
  color: #ffffff;
}

.send-btn:hover {
  background-color: #e74246;
}

.send-btn:active {
  color: #df5f62;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.features {
  margin-top: 80px;
  min-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
}

.features-item {
  min-height: 428px;
  width: 300px;
}

.features-title {
  font-size: 24px;
  text-transform: uppercase;
  padding: 170px 0 0 0;
  margin: 0;
}

.features-content {
  margin-bottom: 34px;
}

.features-item-site {
  background: url("../img/index-feat-illustration-1.png") no-repeat;
}

.features-item-apps {
  background: url("../img/index-feat-illustration-2.png") no-repeat;
}

.features-item-pres {
  background: url("../img/index-feat-illustration-3.png") no-repeat;
}

.about-us {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
}

.about-left {
   width: 660px;
   min-height: 485px;
 }

.about-left-title {
  font-size: 45px;
  line-height: 45px;
  margin-top: 34px;
  font-weight: 700;
  margin-bottom: 32px;
}

.about-left-list-title {
  margin-top: 39px;
  font-size: 16px;
  font-weight: 500;
}

.about-left-list {
  padding: 0 40px 0;
  margin: 0;
}

.about-left-list li {
  list-style: none;
  margin: 23px 0 0 0;
  position: relative;
}

.about-left-list li::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
  position: absolute;
  top: 10px;
  left: -40px;
}

.about-right {
   width: 360px;
   min-height: 485px;
 }

.about-right-title {
  padding: 0;
  text-align: center;
  font-size: 16px;
  margin-top: 28px;
}

.about-right-numbers ul {
  padding: 0;
  margin: 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.about-right-numbers li:not(:first-child) {
  margin-left: 25px;
}

.about-right-numbers span {
  font-size: 45px;
  font-weight: 700;
  position: relative;
}

.about-right-numbers sup {
  position: absolute;
  top: 20px;
  font-size: 27px;
}

.about-right-numbers p {
  margin: 20px 0 0;
  line-height: 18px;
}

.partners {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   border-bottom: 2px solid #f4f4f4;
 }

.partners-logo {
   min-height: 179px;
   min-width: 260px;
   text-align: center;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   align-items: center;
   -ms-flex-pack: distribute;
       justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }

.partners-logo a {
  display: inline-block;
  opacity: 0.2;
  line-height: 8px;
}

.partners-logo a:hover {
  opacity: 1;
}

.partners-logo a:active {
  opacity: 0.1;
}

.partners-logo:not(:first-child)::before {
  content: "";
  height: 52px;
  width: 2px;
  background-color: #f4f4f4;
  position: absolute;
  top: 64px;
  left: -21px;
}

.map-wrapper {
  height: 415px;
  margin-top: 80px;
  background-image: url("../img/map-background.jpg");
  background-repeat: no-repeat;
  background-position: -45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.map-wrapper .container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 54px;
}

.map-wrapper-catalog {
  margin-top: 59px;
}

.map {
  height: 416px;
  width: 100%;
}

.contacts {
  width: 320px;
  min-height: 308px;
  padding: 34px 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 20px;
}

.contacts-title h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 45px 0 0;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
}

.address {
  margin-top: 25px;
}

.phone-number {
  margin-bottom: 41px;
}

.main-footer {
  margin-top: 70px;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 79px;
}

a.social-btn {
  display: inline-block;
  height: 79px;
  width: 79px;
  background-color: #e1e1e1;
  border-radius: 100%;
  position: relative;
}

a.social-btn:not(:first-child) {
  margin-left: 12px;
}

a.social-btn:hover {
  background-color: #e74246;
}

a.social-btn:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c8474a;
          box-shadow: inset 0 3px 0 0 #c8474a;
}

.vk:before,
.facebook:before,
.instagram:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.vk::before {
  height: 15px;
  width: 26px;
  background: transparent url("../img/icons.png") no-repeat;
  background-position: -136px -5px;
}

.vk:active::before {
  background-position: -172px -5px;
}

.facebook::before {
  height: 22px;
  width: 12px;
  background: transparent url("../img/icons.png") no-repeat;
  background-position: -5px -5px;
}

.facebook:active::before {
  background-position: -27px -5px;
}

.instagram::before {
  height: 21px;
  width: 21px;
  background: transparent url("../img/icons.png") no-repeat;
  background-position: -74px -5px;
}

.instagram:active::before {
  background-position: -105px -5px;
}

.discount {
  min-width: 560px;
  height: 74px;
  margin-right: 200px;
  padding-top: 5px;
}

.footer-text {
  font-size: 36px;
  line-height: 36px;
}

.discount p {
  margin: 10px 0 0;
}

@-webkit-keyframes open-popup {
  0%   {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  70%  {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  90%  {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes open-popup {
  0%   {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  70%  {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  90%  {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.write-us-popup {
  display: none;
  -webkit-box-shadow: 0 10px 40px #000000;
          box-shadow: 0 10px 40px #000000;
  background-color: #ffffff;
  width: 960px;
  height: 590px;
  padding: 75px 100px 0;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}

.popup-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 150;
  top: 0;
  left: 0;
}

.popup-overlay-show {
  display: block;
}

.write-us-popup-show {
  display: block;
  -webkit-animation: open-popup 0.6s;
          animation: open-popup 0.6s;
}

.write-us-popup-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.close-cross {
  text-indent: -99999px;
  opacity: 0.3;
  width: 21px;
  height: 21px;
  background: url("../img/close-cross.png");
  position: absolute;
  top: 78px;
  right: 90px;
}

.close-cross:hover {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}

.write-forms {
  width: 760px;
  min-height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.write-us-name {
  width: 360px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.write-us-mail {
  width: 360px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.write-us-text {
  width: 760px;
  min-height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 47px;
}

.write-us-title {
  font-size: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
}

.write-forms label {
  font-size: 16px;
  font-weight: 700;
  margin-top: 38px;
}

.write-us-input {
  border: 2px solid #e4e8e9;
  background-color: #ffffff;
  color: #444444;
  padding: 13px;
  min-width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.write-us-input:hover {
  border: 2px solid #cdd0d2;
}

.write-us-input:focus {
  border: 2px solid #000000;
}

.write-us-input:invalid {
  border: 2px solid #ef8184;
  color: #f29b9d;
}

.catalog-wrapper {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-title,
.catalog-sorting-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.catalog-title {
  margin: 0;
}

.range-filter {
  width: 260px;
  margin-top: 52px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.catalog-sorting-title {
  margin-right: 235px;
}

.arrow {
  display: block;
  text-indent: -99999px;
  height: 10px;
  width: 10px;
  margin-left: 20px;
  opacity: 0.2;
}

.arrow-down {
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
}

.arrow-up {
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #000000;
}

.catalog-sorting li {
  opacity: 0.2;
}

.catalog-sorting li:hover,
.arrow:hover {
  opacity: 0.4;
}

.catalog-sorting li:active,
.arrow:active,
li.catalog-sorting-active,
.catalog-sorting-active a {
  opacity: 1;
}

.filter {
  width: 260px;
  min-height: 775px;
}

.catalog-items {
  width: 760px;
}

.filter-price {
  height: 208px;
}

.filter-grid {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.radio-filter:not(:first-child) {
  margin-top: 17px;
}

.radio-input {
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin: 0 3px 0 0;
}

.radio-input + .radio-label {
  cursor: pointer;
}

.radio-input:not(checked) {
  position: absolute;
  opacity: 0;
}

.radio-input:not(checked) + .radio-label {
  position: relative;
  padding: 0 0 0 35px;
}

.radio-input:not(checked) + .radio-label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url("../img/input-icons.png") no-repeat;
  background-position: -75px -5px;
}

.radio-input:checked + .radio-label:before {
  background-position: -110px -5px;
}

.filter-feat {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox-filter:not(:first-child) {
  margin-top: 17px;
}

.checkbox-input {
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin: 0 3px 0 0;
}

.checkbox-input + .checkbox-label {
  cursor: pointer;
}

.checkbox-input:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox-input:not(checked) + .checkbox-label {
  position: relative;
  padding: 0 0 0 35px;
}

.checkbox-input:not(checked) + .checkbox-label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 27px;
  height: 23px;
  background: transparent url("../img/input-icons.png") no-repeat;
  background-position: -5px -5px;
}

.checkbox-input:checked + .checkbox-label:before {
  background-position: -38px -5px;
}

.checkbox-filter,
.radio-filter {
  opacity: 0.4;
}

.checkbox-filter:hover,
.radio-filter:hover {
  opacity: 1;
}

.checkbox-filter:disabled,
.radio-filter:disabled {
  opacity: 0.1;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.catalog-sorting {
  padding: 0 30px 0;
  margin: 0;
  min-width: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-sorting a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.sorting-arrows {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.templates {
  margin-top: 51px;
  margin-bottom: -39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.template {
  min-width: 360px;
  min-height: 616px;
  margin-bottom: 36px;
  z-index: 5;
}

.template-browser {
  background-color: #e9e9e9;
  height: 40px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-browser i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
  background-color: #fcfcfc;
}

.template-img {
  margin: 0;
  height: 576px;
  position: relative;
}

.hover {
  display: none;
}

.template-title {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  line-height: 30px;
  font-weight: 700;
}

.template:hover .hover {
  display: block;
  position: absolute;
  min-height: 231px;
  z-index: 100;
  bottom: 0;
  background-color: #eeeeee;
  text-align: center;
  min-width: 360px;
  padding: 30px 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hover p {
  padding: 0;
  margin: 13px 0 0 0;
  font-size: 16px;
  line-height: 18px;
}

.template:hover .template-browser {
  background-color: #4d4d4d;
}

.template:hover {
  -webkit-box-shadow: 0 6px 15px #000101;
          box-shadow: 0 6px 15px #000101;
  border-radius: 5px 5px 0 0;
}

.paginator {
  margin-top: 60px;
  width: 443px;
}

.paginator li {
  display: inline-block;
}

.paginator ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
